<%= erb :'layouts/_header' %>

<div class="container">
  <br/><br/>
 <p>Welcome to the <strong>Nested Forms Lab</strong>! let's navigate to the <a href="/new">'/new'</a></p>
</div>

<input type="hidden" value="Welcome to the Nested Forms Lab! let's navigate to the '/new'"/>
<%= erb :'layouts/_footer' %>